[2018-05-21 07:54] rishidev opened #2 "Disclaimer in the query"
At the moment there is a disclaimer section in the query. Can a server accept a querier's terms?

[code]

[2018-05-21 12:46] harindra-a commented on #2
hey Rishi, this is really a FYI to the server and a legal piece saying what can be done with the data. It is up to the host to decide on whether to support it.

In MME we have one from each node we pass on with the query,
https://github.com/ga4gh/mme-apis/tree/master/disclaimers

we can talk about this more at next search meeting, and clarify further

[2018-06-27 10:12] Relequestual opened #6 "Create JSON Schema for basis of request and repsonse"
Given my [proposal](https://gist.github.com/Relequestual/65c0446944519a66f8562d02b3cb4c86) seems to have been boradly accepted, and work to merge it in has already begun, it clear (to me) that JSON Schema documents are required to formally define some aspects of the JSON structure.

My intension is for these to be mainly informative, and not assume that all implementers will use the schemas, but t

[2018-06-27 13:30] Relequestual opened #7 "Remove questions from spec document in favour of issues"
For the purpose of raising the issue for not including questions in the spec document, and in stead creating new issues for each question. This allows discussion on each topic without confusion.

PR welcome. Will do it myself if time allows.

- [x] Remove any questions from the documents, creating a new issue for each.

[2018-06-27 13:33] Relequestual opened #8 "Single specification document rather than one for search and one for response"
Given it looks like we're planning to adopt aspects of my [proposal](https://gist.github.com/Relequestual/65c0446944519a66f8562d02b3cb4c86), it makes sense to combine the request and response documents into a single spec document.

Doing so will make it more manageable.

(It's expected that each component will be housed in it's own file/s, possible markdown as well as JSON Schema.)

[2018-06-27 13:42] Relequestual opened #9 "Which query boolean operator paradigm should be used?"
I'd like to discuss the pros and cons of using the two proposed paradigms for representing boolean operators.

I put forward the [suggestion](https://gist.github.com/Relequestual/65c0446944519a66f8562d02b3cb4c86#query-operators) to use operators as component keys, allowing for nesting, while assuming `AND` if none are specified default.

Anthony Brookes put forward the way used by Cafe Variome whe

[2018-06-27 13:42] Relequestual commented on #9
Reserved

[2018-06-27 19:56] mcupak commented on #8
How about writing this in OpenAPI? It seems all the necessary information is in the .md files already, and it's a format widely used in other GA4GH groups.

[2018-06-27 21:11] fschiettecatte opened #10 "Version numbers in the request/response and in the URL"
We have version numbers on the request/response and in the URL. The latter no longer makes sense, it should be removed.

[2018-06-27 21:12] fschiettecatte opened #11 "Version numbers resolve to components, but not the search items in the `search` components"
Version numbers resolve to components, but not the search items in the `search` components, do we need those to be versioned as well? For example:

[code]

[2018-06-27 21:13] fschiettecatte opened #12 "Result Scoring"
* Do we want scoring?
    * At what level, record, gene, variant, feature?
    * What range to use 0.00-1.00, 1-100, 1-1000?
    * Do we want to mandate use of specific scoring algorithms?

[2018-06-27 21:14] fschiettecatte opened #13 "Asynchronous Searches"
* Do we want to support asynchronous searches? This would mean:
    * Allowing the `querier` to tell the `host` to run the search asynchronously.
    * Allowing the `host` to tell the `querier` that it decided to run the search asynchronously (or that the search can only be run asynchronously??).
    * In both cases a callback would need to be specified so that the `host` can return the results to

[2018-06-27 21:15] fschiettecatte opened #14 "Limits to Search Responses"
* Do we want to be able to set a limit to the numbers of records returned?
  * Do we want to support offsets in record returns (start and limit)?

[2018-06-27 21:16] fschiettecatte opened #15 "Should we require default a required set of supported components?"
Do we want to require support for a minimal set of components?

[2018-06-27 21:16] fschiettecatte opened #16 "Multiple record types in a request"
Do we want to support multiple record types in a request?

[2018-06-27 21:18] fschiettecatte opened #17 "Should we allow for private / custom components?"
* Do we allow _private_ components?

---
  * ~~Do we want to support defined sets of components/records for certain communities (MME)?~~ #28
  * ~~Why is `components` an array of objects if there is only one object?~~ #27
  * ~~What is the process for defining new component/record types?~~ #26

[2018-06-27 21:20] fschiettecatte opened #18 "Format restriction in the`queryID`"
Do we want to constrain the format of the query identifier (length, characters allowed, integer, uuid)?

The reason this is a question is that it was an issue in MME v1, some used an integer, others a mix of characters and integer.

[2018-06-27 21:20] fschiettecatte opened #19 "`components`/`patientDescription` needs work"
Title says it all, `components`/`patientDescription` in the request needs work.

[2018-06-27 21:21] fschiettecatte opened #20 "Search components"
* Each search component needs to be specified (I think Orion Buske has some good information for that)
  * Do we want to require support for a minimal list of search components?
  * What is the process for adding search components?
  * Do we want to support defined sets search components for certain communities (MME)?
  * Do we allow custom search components?
  * Version numbering as defined above

[2018-06-27 21:24] fschiettecatte opened #21 "Version numbers for `collectionComponents`"
Version numbers are for collectionComponents, but not the records items in the `records` components,do we need those to be versioned as well? For example:

[code]

[2018-06-27 21:29] fschiettecatte commented on #7
Questions has been removed from the [fs-updates branch](https://github.com/ga4gh-discovery/ga4gh-discovery-search-api/tree/fs-updates), if ok feel free to close this issue.

[2018-06-28 08:19] Relequestual commented on #8
@mcupak Hi Miro. Given it's expected there will only be a single endpoint, it seems rather pointless to wrap the request and response in the OpenAPI layer. The request and response part of OAPI IS JSON Schema.

Of course if you can think of any benifits, I'd be more than happy to hear them.

It may be worth doing for the Service Registry project, but I'm not sure about the Search API.

[2018-07-02 19:29] harindra-a commented on #23
Hey François, here are some thoughts, others can jump in,

-Do we want to be able to return arbitrary collection components, for example mme was requested but we only support exists?

 I think for predictability, and simplicity, let's simply return "not supported" if a specific return type was asked-for and not supported

-Do we want to require support for a minimal list of components?

I would th

[2018-07-03 15:34] #7 closed

[2018-07-04 13:04] Relequestual commented on #23
I would say no. This will make it simpler, and make sure work is only done when the response will be useful to the requestor. We should use exsiting HTTP semantics, [returning 417](https://httpstatuses.com/417) in this situation.

[2018-07-04 13:05] Relequestual commented on #23
I think let's table this discussion till we have a few components nailed down.

[2018-07-04 13:06] Relequestual commented on #23
I'm not really sure what you mean by this. Can you expand with a use case? Probably woth creating as a new issue.

[2018-07-04 13:07] Relequestual commented on #23
I'm indifferent regarding the other questions.

I would suggest moving forward that each question retains its own issue to avoid any cross discussion which can very quickly make for impossible reading of comments (see the case of 300 comment long issues... it happens, it's horrible).

[2018-07-04 14:10] Relequestual commented on #21
I'm not sure I full understand what you are asking here.

The version numbers for components are for the format of those components.
Collection components are components that represent information about the group of records, for example a `count` collection component could contain a count of the number of records.

The version of the components used in the records is covered by the root level `met

[2018-07-04 14:23] fschiettecatte commented on #21
I am talking about the versions of the actual `record` format in the `collectionComponents`.

[2018-07-04 14:30] fschiettecatte commented on #17
By _private_ I mean for internal use within organizations. For example organization X has a number of internal databases and wants to use this protocol but wants to use their own `record` type. The protocol as currently defined supports this but this is not _official_.

[2018-07-04 15:09] Relequestual commented on #21
The `records` collection is an array of objects where each object has a `meta` and `components` object.

Do you mean, "the versions of the components in each record"?

If not, I'm afraid you're going to need to be considerably more verbose, as I can't follow you at all on this.

[2018-07-04 15:36] Relequestual commented on #15
I think let's table this discussion till we have a few components nailed down.

---
@harindra-a

[2018-07-04 16:11] Relequestual commented on #10
The version numbers in the request and response only corrospond to components.
The structure of the JSON that contains those could in theory change, and that would be the version found in the URL at current.

However, if we can get the basic structure to contain the components correct, I can't see this overall structure changing in a non backwards compatible way.

Still, it will need to be version

[2018-07-04 16:23] harindra-a commented on #15
agreed

[2018-07-05 10:32] Relequestual commented on #19
This is a little ambigious. What are the issues you see?

[2018-07-05 10:35] Relequestual commented on #18
I would say, String or Number is fine.

[2018-07-05 10:53] Relequestual opened #24 "Should we use new components or existing composite formats (or both)?"
Initially, Harindra's vision for the search API was to use existing "record formats" (like MME or Phenopackets).

During the Toronto meeting this year, I explained my Search API proposal, where the component based system would be used in stead of using these record formats, as otherwise you create a huge interoperability nightmare.

When explaining this to Harindra, Marc, and others in the room fo

[2018-07-05 10:53] Relequestual commented on #16
Blocked by #24

[2018-07-05 11:01] Relequestual commented on #14
I think we should be able to limit the number of records returned.

In any service definition exposed, we may want to allow a service to indicate a default and or max value for such a field.

@fschiettecatte @harindra-a Do either of you feel this will be essential to the initial release?

[2018-07-05 13:29] Relequestual commented on #13
What's the use case for allowing the Client (Querier) to tell the Server to run the search asynchronously?

Maybe, maybe not. There are (at least) three possible ways to handle this:
- Client specifies an ID, which then gets used someway by the Server when it's ready to respond
- Server includes an ID that it assings to the request, while telling the Client it will be handled async (probably HTTP

[2018-07-05 13:30] Relequestual commented on #13
@harindra-a Do you know if this will be required for the initial implementations? I would guess not.

[2018-07-05 13:32] Relequestual commented on #12
@harindra-a do we have any solid use cases and or algorithms that we can use to make an informed decision on this?

I assume that as we are not "matching" and in stead "searching", a score might not be so relevant, but I do not know.

[2018-07-05 13:33] Relequestual commented on #12
I feel this should be a post 0.1.0 issue. Does anyone dissagree?

[2018-07-05 13:43] Relequestual commented on #11
My intention was for the root object key `components`'s value to be the search components, and for any metadata about the search request to be in `meta.components`.

In my proposal:

This would include the `queryIdentification` component for example, so `meta.components.queryIdentification` as an object.

I didn't want to get into defining specific components due to lack of time, but was more focu

[2018-07-05 13:47] harindra-a commented on #24
hey Ben, yeah, this is an important point, let's discuss at next SearchAPI meeting and decide/vote.

Personally, I think having component based return types are fine, and not orthogonal to the design now. For example, the components you speak about could simply be their own ontology they return and could exist alongside say MME, or PhenoPacket ontologies.

The reason I wanted to start with MME was

[2018-07-05 13:49] Relequestual commented on #11
Blocked by #25

[2018-07-05 13:55] harindra-a commented on #12
I agree with Ben here. This is either a post first-release issue, or not a need at all. I didn't comment on it earlier thinking it might be up for discussion at a meeting.

We don't a have a use case for needing this (hence it was never in the drafts)

My feeling in general is that scoring is part of the "MME match" universe, and by empowering more access as we are trying to do now, a score is not

[2018-07-05 14:15] Relequestual commented on #24
I understand that minimal changes is desierable, and it may seem that simply to use the existing MME format is a viable approach. However, the MME format was built with a different use case in mind, and if followed strictly, will not work within a search setting.

If we use parts of the MME format, and extract them into components, we still fulfil the requirement of minimal changes, and yet have a

[2018-07-05 14:17] Relequestual commented on #24
I tried to outline this clearly in my proposal, that it is exclusive of using those formats as is. Have you had time to read it in full?

[2018-07-05 14:31] harindra-a commented on #24
tbh, I am not really opposed to your proposal. I think most of DWS stakeholders and all the first implementors who have deep experience in this space have read your proposal at this point, so please bring it up at next week's SearchAPI meeting for discussion; all/most stakeholders should be there and it can be decided.

[2018-07-05 14:37] Relequestual commented on #24
That's fine, but do you feel you understand the points I'm making? Can you follow the logic? If not, you may not be the only one, and I may be missing something from my explanation. I want to avoid any ambiguities.

[2018-07-05 14:41] harindra-a commented on #24
personally, I think what you suggest is reasonable. At the meeting, you should be able to get direct feedback/thoughts from everyone.

[2018-07-05 14:42] Relequestual commented on #17
@harindra-a - [Migrated](https://github.com/ga4gh-discovery/ga4gh-discovery-search-api/issues/23#issuecomment-401909360)

[2018-07-05 14:43] Relequestual commented on #17
I think we can allow for groups to define their own components.
In the MME API, we specify that anything prefixed with an underscore is non standard. Allowing the same thing for component types should be fine I feel, and would allow for groups to define their own components. I don't think we need to call them "private" though, but that's more semantics.

[2018-07-05 14:46] Relequestual commented on #24
OK, great. For record, I don't expect your endoresment to be a rubber stamp. As you said, the group need to be informed by discussion and make a call.

@rishidev Can you make a note to have a clear action on this in the minutes for the next meeting please? =]

[2018-07-05 15:46] Relequestual commented on #26
I intend to resolve this by writing some JSON Schema files.
I should also document the expectations on how they should be updated.

[2018-07-05 16:04] Relequestual commented on #27
@fschiettecatte Which `components` object are you refurring to? Is it in the request / response in this repo and / or my [proposal](https://gist.github.com/Relequestual/65c0446944519a66f8562d02b3cb4c86#response-detail)?

[2018-07-05 18:23] fschiettecatte commented on #19
I was not sure how to fit the patient data we have into the various fields described there. If it looks ok to you then I am ok with leaving it as is.

[2018-07-06 08:06] Relequestual commented on #14
@harindra-a let me know if you have any objections to this being post 0.1.0.

[2018-07-06 08:09] Relequestual commented on #19
@fschiettecatte ah, so you meant the `patientDescription` component needs work, as in "components.patientDescription", not the "components and patientDescription need work", right?

Assuming so, I'm updating the title to reflect.

[2018-07-06 08:12] Relequestual commented on #19
@harindra-a I think it's good that we continue to discuss specific components now, and work out how each of the pioneering services can break down their models into components, or break down existing formats like MME into almost identicall components.

Discussion about underscore prefixing is in #17, which I think we should adopt, as the positives far outweigh any negatives.

[2018-07-06 08:14] Relequestual commented on #13
Great, it will not be considered for the initial release.

We should watch out for anyone who requests this functionality, and ask them which of hte possible solutions they feel makes the most sense.

[2018-07-06 08:36] Relequestual commented on #28
(@harindra-a  - [Migrated](https://github.com/ga4gh-discovery/ga4gh-discovery-search-api/issues/23#issuecomment-401909360))

[2018-07-06 08:39] Relequestual commented on #28
While I plan to create a set of components from the MME format, I don't know if theres any value in grouping them together to identify them as MME components.

However, there may be some value in identifying groups of components as likely or recomended to be used together. I think we will be able to have a more informed discussion after the initial release.

[2018-07-06 09:22] Relequestual commented on #23
Now the other questions have been migrated to individual issues, I've had some further thought on this specific question.

[2018-07-06 09:54] Relequestual commented on #2
I agree, a server cannot accept terms and conditions *, it's a machine.
For the response, it may make sense to include a disclaimer, but I'd want to see this as a meta component rather than a root level object.

* If we use something like [ADA-M](https://github.com/ga4gh/ADA-M) it is possible we could encode consent for use. There's scope for automated discoverability of services which a given use

[2018-07-06 10:34] Relequestual commented on #20
Hope you don't mind my continuing editing of your comments! *tidy tidy*

Can we get some expansion on "Need to figure out sources vs. id and CURIEs (I think Chris Mungall was maintaining a list of CURIEs) ?" please?

[2018-07-06 12:58] harindra-a commented on #14
@Relequestual,  I am fine without one for first release.

We can put in some wording into the release docs saying that we encourage the host to think about adding any limits on their side as needed as @fschiettecatte noted. I think the security WS would ask for that.

[2018-07-06 12:59] harindra-a commented on #19
yup, agreed, that sounds good @Relequestual

[2018-07-06 13:21] harindra-a commented on #23
yeah good point(s). The patients stored in a database are not uniform collections as we know. Also, it might be useful from the querier side to get some information back, rather than none.

Wonder if this might be an implementation issue rather than a spec related, and better served in a "guidelines for implementation" doc. This resource saving thread here is good (with possible security implicati

[2018-07-06 13:48] Relequestual commented on #23
I agree, I think this is just a consideration for the implementation, but the question is, should a client be allowed to specify they require specific response content, and what should the server do if they cannot provide what's required.

If the requesting client wants to get some information back even if the server wants to return a record without a specific component, then the client doesn't sp

[2018-07-06 14:17] harindra-a commented on #23
those questions came up in a few meetings, and I believe we backed off them to some extent given the complexity they involved when taken as a whole and went with the simpler, "ask a question from a network of nodes; and each responds as possible or comfortable". Let's bring this up again next meeting, and decide to either add them (or a subset of them) in now, or post-October after some testing. I

[2018-07-06 14:40] Relequestual commented on #23
That's strange, I would have thought known what types of data (and as a result which components) you have is not only trivial but essential.

Still, at the implementation level, no client has to specify any required components, which creates the situation as you say. Equally I don't want us to be in a situation where a new major version of the API has to be released for such to be possible.

I not

[2018-07-06 18:58] fschiettecatte commented on #20
One of the things we discussed at length in MME 1.0 was to use CURIEs for identifiers [See issue 113 in MME 1.0](https://github.com/ga4gh/mme-apis/issues/113).

But we have a source included in the examples. It is not clear what should go there and how this is different from a CURIE. Just want to make sure we think this though.

[2018-07-09 09:05] Relequestual commented on #20
Rigth, this sounds sensible, like something we should bake in from the start. I'll open a new issue.

[2018-07-09 10:11] Relequestual commented on #29
The [previously mentioned MME issue](https://github.com/ga4gh/mme-apis/issues/113) linked to a JSON containing a list of prefixes, which seem to have been derrived from https://prefixcommons.org.

While PrefixCommons is a collaboration between the Monarch Initiative and the Institute of Data Science @ Maastricht University, after some investigation, I also found https://identifiers.org, a service

[2018-07-09 10:56] Relequestual commented on #15
I have added this to the initial release milestone as I feel we should decide on this one way or the other.

[2018-07-09 13:41] harindra-a commented on #29
let's chat about this at next meeting and iron it out, probably easier in person. I absolutely see its need, but I also see some complexity, and the fact that it was heavily debated in MME in the past. I found this thread here,
https://github.com/ga4gh/mme-apis/issues/113

[2018-07-09 13:46] Relequestual commented on #29
Indeed, that's the linked issue above. it would be interesting to see how for example the Phenopackets specification handles gene identifiers.

[2018-07-13 11:20] Relequestual commented on #6
I have created the base schema files and a few example components.
https://github.com/Relequestual/ga4gh-discovery-search-api/tree/json-schema
I'll make a PR shortly. I'll later add a readme.md.

The source for these are in in YAML.
Run `npm install` followed by `npm run yaml2json` to conver the YAML files to JSON, if you find JSON easier to read. YAML supports multi line content, which makes comm

[2018-07-13 12:30] Relequestual commented on #6
Left to do:
- [ ] Add readme to explain content
- [ ] Explain how to build inc expectations
- [ ] Explain file structure
- [ ] Explain how to update files
- [ ] Explain how to add new components
- [ ] Add CI to validate schemas are valid

Stretch goals:

- [ ] Add build script to compile single equest and response schema

[2018-07-16 17:11] fschiettecatte commented on #6
@Relequestual What are your thoughts on the interplay between JSON Schema and OpenAPI? You have mentioned using the latter before but not the former.

[2018-07-17 12:37] Relequestual commented on #6
Assuming you mixed "latter" and "former" here...
OpenAPI 3 uses JSON Schema draft-5 for payload definitions.
OpenAPI can be used to define the API endpoints, but if there's only one endpoint, it seems a little overkill, as we're mostly interested in the request and response payload. That being said, I'm not opposed to defining an OpenAPI document, which can reference the existing JSON Schema files

[2018-07-17 12:45] Relequestual commented on #6
Based on recent emails to the group from Tony Brookes, it looks like rather than present a proposal for the Search API format before implementing, his group and Illumina will put together and implement a solution that they feel will work for everyone.

As such, I don't know if it's condusive to continue to work on my proposed solution, with the sight to modify the spec documents to conform. (Regar

[2018-07-17 13:16] harindra-a commented on #6
Hi @Relequestual, the effort by Tony and Illumina is their own effort and between Illumina and CafeVariome as far as I know. Tony is of course welcome to present his proposal and we can take pieces/inspiration of it (as we did from yours) as needed. Nara/François/me/you/others from MME and Elixir/other drivers etc, coming to Search meetings are driver representatives, so the SearchAPI IS driver dr

[2018-07-18 23:23] fschiettecatte commented on #29
With reference to @harindra-a's comment about the debate we had in V1, the issue was that we did not provide any context for the identifiers whereas in V2 we do in the "type" / "source" fields in the components, so the CURIE would be redundant unless we wanted it for additional checks. Perhaps it would be enough to say that the identifier be used as specified by the owner of identifier (i.e. a MIM

[2018-07-18 23:37] fschiettecatte commented on #21
I do mean "the versions of the components in each record"? If the `records` in the response is a collection of objects with `meta` and `components` then version can be embedded into that, but how would I specify version for an "mme" record in the request?

[2018-07-18 23:44] fschiettecatte commented on #18
With a length limit? For example GeneMatcher uses integers, whereas mygene2 uses urls which can get quite long. I need to store other people's identifiers in a table to track prior matches and I expect that others will too. It would be good to know up front what to expect so as not to break size limits on tables.

[2018-07-18 23:47] fschiettecatte commented on #12
Discussions about this in V1 dragged in lots of additional issues, I am ok with punting this down the road.

[2018-07-18 23:48] fschiettecatte commented on #10
So we handle top level versions in the url or in the HTTP header?

[2018-07-18 23:53] fschiettecatte commented on #9
I prefer the Cafe Variome approach with splitting the components and boolean logic (which is why I put it into the spec I cobbled together), I think it makes the JSON more readable to humans. Also it makes it easier for sites that can't or don't want to implement boolean logic.

[2018-07-18 23:55] fschiettecatte commented on #8
Would be good if GA4GH would specify whether OpenAPI, JSON Schema, or either, or any at all should be used, so that there is consistency across project.

[2018-07-19 00:05] harindra-a commented on #8
I don't think GA4GH imposes anything here, it's really upto the WS. I think the down the road some consensus might appear here though. @rishidev that sounds right?

[2018-07-19 00:05] fschiettecatte commented on #2
Speaking for GeneMatcher, we store terms / disclaimers for each MME instance we connect to, these are both included in the match emails we send out to our submitters (along with references to use). If the remote MME instance sends us terms / disclaimers in the MME request / response, those override what is stored.

[2018-07-19 00:09] harindra-a commented on #9
Was this what Tony was referring to today as well? (regarding boolean logic discussion with Ben)

[2018-07-19 00:10] fschiettecatte commented on #2
How about this for the `disclaimer` section, I renamed it `citation`, but it would be great to have another terms for this:

[code]

[2018-07-19 00:11] harindra-a commented on #10
I like top level version of API as a whole in URL here is possible as well, but can be convinced otherwise

[2018-07-19 13:49] harindra-a commented on #8
cool. My feeling is we go initially with what gets us through our timeline (Aug 1st, then Oct), which is what Ben has in place, and then evaluate if any change is needed post October. Just to save cycles give our pretty tight timeline

[2018-07-23 12:24] Relequestual commented on #29
We can specify a component must be of a perticular type, like a gene must be an ensembl gene identifier, however I expect there will be groups that want to use HGNC name or something else.

If we specify it must be an ensembl gene ID, do we specify it must include the ID prefix ENSG? I think we do.

Maybe, as you say, we need to look at this on a case by cases bases, because at some point we need

[2018-07-23 12:33] Relequestual commented on #21
The records are indeed a collection of objects with meta and components, as you say.
I would think it's unlikely that a server would respond with different versions of the same component, so it makes sense to specify the versions of the components sent in the response at the root level, rather than for every record.

An "MME record" would be a number of components which an MME format would be tran

[2018-07-23 12:45] Relequestual commented on #18
I don't see any need to define a limit, but if we must, VARCHAR(65535) and TEXT are basically the same for MySQL, and is better in most cases for PostgreSQL.

Do you invisage doing any queries using this ID?
65535 is plenty for URLs, even for http://about.bitty.site =]

[2018-07-23 12:53] Relequestual commented on #12
Great.
As such, this will remain part of the post 0.1.0 milestone.
The expectation is, unless use cases are presented, this issue will be closed as "no need for further discussion" / "will not implement"

[2018-07-23 12:55] Relequestual commented on #9
@harindra-a yes

---

@fschiettecatte If that's the case, how would you expect a service to respond if a request uses boolean logic and they do not support it?

[2018-07-23 13:01] Relequestual commented on #2
I'm happier calling it `acknowledgments`, I feel it's more semantically correct.

`references`, do we mean "the way in which you must acknowledge this resource" or "here are some papers related to this resource"?

I think we should have the former, and not sure of the use of the latter (as that could be encoded in the former). I guess you could say that acknowledgment statements could be included

[2018-07-23 13:08] Relequestual commented on #2
@rishidev:

No, but the user can. In my implementation of MME, we do not show the response to the user unless they accept the terms from that service.

To my mind, a server doesn't need to accept or reject terms, as it won't, or at least shouldn't, do anything with the data without confirming with a user first.

In this instance, I've viewing a "user" as someone who is interacting with a "service"

[2018-07-23 13:20] harindra-a commented on #29
Why don't we keep CURIE out for the first release then? We can chat post Oct on it deeper and add it in a later release?

[2018-07-23 13:22] harindra-a commented on #27
@Relequestual,  I would say just fix it in master (or do a PR and merge it yourself or François) since it looks like an error there anyway

[2018-07-23 13:49] harindra-a commented on #10
All that sounds good. Regarding where to put it: I would vote we keep it in the payload as a JSON field of sorts (metadata?). I would vote we stay clear of the header, and ideally leave it only for the authentication piece..

[2018-07-23 15:18] Relequestual commented on #8
OK, sounds like solid reasoning.

I've defined the schemas in draft-7, but I don't see us using anything which isn't backwards compatible to draft-4 (which is currently what the OpenAPI specification defines to use). There are some nice things we might want to use from draft-7 (like conditionality), but we can get away without them.

In terms of tooling, there's ample support for validation librar

[2018-07-23 15:19] Relequestual commented on #8
Could you expand on this please? In what way would using OpenAPI aid intergration with services which also use OpenAPI?

[2018-07-23 15:36] Relequestual commented on #8
@harindra-a Given I've actually ended up creating two (JSON Schema) documents, one for request and one for response, I think this issue is pretty null and void.

I think the reason I raised this issue was to do with the markdown documentation in the repo.

@mcupak Maybe we should move the OpenAPI discussion to a new issue, flagged as post 0.1.0, would that be OK? I Major version 0 according to sem

[2018-07-23 15:52] Relequestual commented on #27
I think that's justified in this case. I'll get on it shortly.

[2018-07-23 16:03] fschiettecatte commented on #18
I don't envisage doing any queries with these IDs, but I do need to store them so that I can track prior matches so as not to re-notify people when a new search comes in.

[2018-07-23 16:05] fschiettecatte commented on #9
With an http status error and a message.

[2018-07-23 16:10] fschiettecatte commented on #2
Not HTML, that would create a security vulnerability, text only.  I am ok with creating a new issue for this, happy to do this if you want.

[2018-07-23 16:37] fschiettecatte commented on #10
Thinking about this we should put the version number of the payload in the payload itself for the reasons @Relequestual lays out above.

And we should remain silent on the format of the url except for the leaf (as is the case in MME v1). This would allow sites to define their url, and they would be free to include the Major number in there or not.

Feel free to shoot this down :)

[2018-07-24 09:54] Relequestual commented on #18
When MyGene2 used URLs, that was to represent the case being used.
It looks like this ID is for the "query event" should referencing it be required.
It sounds like you're refurring to an ID which represents the case. Is this right?
If so, I think it should be a different component.

[2018-07-24 09:57] Relequestual commented on #8
I'm going to close this issue, as I now dissagree with my suggestion of having a single page rather than a separate request and response page.

@mcupak If you get round to creating a new issue for OpenAPI usage, please reference this issue. I have done a little research and a I think the benefits to using it are huge.

[2018-07-24 09:57] #8 closed

[2018-07-24 10:01] Relequestual commented on #2
Agreed, not HTML.

@fschiettecatte Feel free to create a new issue for a new component. I'm yet to formalise the process for creating components, but I have a general feeling in my head (assuming we merge and follow the format in #30 ).

[2018-07-24 10:09] Relequestual commented on #29
HGNC names (symbols) are 100% not OK to use for this purpose, as they are not IDs, only names, which may get replaced at whim.

[2018-07-24 10:12] Relequestual commented on #29
@harindra-a there isn't any decision on using CURIEs to keep, as we haven't defined how they should be determined, if at all.

As I said, I think we need to look at this on a case by case basis, and if we MUST use CURIEs, then https://identifiers.org looks like the most stable resource to take the definitions from.

Unless there are any objections, I feel we should close this issue, as it's not a

[2018-07-24 15:33] fschiettecatte commented on #18
Maybe, I would like it is to be explicit for the ID do that there are no nasty surprises down the road.

[2018-07-24 16:02] fschiettecatte opened #31 "Replace `disclaimer` with `acknowledgments`"
As discussed in #2, this is a suggestion to replace:
[code]
with:
[code]

This is a little more generic and add a reference for the data that is returned in the response.

All text should be in a form that can be displayed to a human, and the reference should be a in a format that can be included in a published text should the data be used.

[2018-07-24 16:02] fschiettecatte commented on #2
Done, see #31

[2018-07-24 16:14] fschiettecatte commented on #9
Are you thinking of embedding the JSON Pointer to the component in the JSON document itself, that means you need to know the location before you create the JSON document?

[2018-07-24 16:16] fschiettecatte commented on #29
I would be ok with closing this but I feel we should run it by the whole group tomorrow.

[2018-07-25 09:17] Relequestual commented on #9
Not necessarily. You can append your JSON components at the same time as compiling the json pointer values.

Alternativly, we could use JSON Path, and then you wouldn't need to know up front.
You could have abitrary naming, but it's more computationally expensive. With JSON Path, you can specify a "query" which can target deep, and look for specific values. This way you could have abritrary naming

[2018-07-25 13:37] fschiettecatte commented on #18
I am not sure that expanding the workflow here is actually relevant to MME, this is internal GeneMatcher operations, separate from the protocol.

[2018-07-25 13:51] fschiettecatte commented on #9
In a word no, I need more time to think about this and I need others to chime in on this.

[2018-07-25 13:53] Relequestual commented on #18
Well, if I can't understand how you intend to use this ID, as in, I can't understand the user story, then I can't properly descirbe its purpose. Currently I find your explanation of what you want to do with the ID, and what your expectations are of the ID, ambigious. I thought it would be easier for you to explain the process you intend to rely on it for, rather than for me to guess and list out t

[2018-07-25 13:56] Relequestual commented on #9
In essence, my concern is, I don't want to write something to manually deconstruct a string like "((D AND E AND F) AND K) OR ((D AND E AND F) AND N) OR ((A AND B AND C AND (J AND H)) AND G AND H) OR ((A AND B AND C AND (J AND H)) AND G AND J)".
If that information can be conveyed in a format which can be decoded by a standard, which has implementations, I find that prefereable.

[2018-07-26 16:15] colinveal commented on #9
Hi, just jumping on this following the call yesterday. Could we replace the 'componentID' with a JSON Pointer string referencing the array position of the component

	"query" : {
		"subject" : [
			{"subjectVariant' : [{...},{...}],
			{"gender" : "male"},
			{"disease" : [{...},{...}]}
		],
	"logic" : "( '/query/subject/0' AND ( '/query/subject/1' OR '/query/subject/2' ))"
	}

[2018-07-26 18:07] harindra-a commented on #32
great, thanks for sharing this @colinveal !

@Relequestual and @fschiettecatte, we reached consensus on this yesterday right? How about we ask Colin to add this directly to draft to keep things moving as we are pretty close to v0.1.0 freeze?

[2018-07-26 18:09] fschiettecatte commented on #32
Fine with me.

[2018-07-27 08:12] Relequestual commented on #9
(Ignoring the fact that nesting components is still up for debate).

I think this is close, but it doesn't avoid the need to parse the string to determin the logical structure. I want to avoid this at all costs.
As an alternative, this would be my suggestion:

[code]

This way I can traverse down the `logic` object, and when encountering key words, nest or not nest query structure.

It MAY not be

[2018-07-27 16:10] harindra-a commented on #9
hmm..I think I like @Relequestual 's approach here @colinveal. Parsing stacks of parenthesis might become difficult and is tricky. I have bad memories from LISP, sorry..

[2018-07-27 16:13] fschiettecatte commented on #9
One benefit of expressing the boolean query in JSON as opposed to a `parethesied` string is that you know it will be correct because the JSON has to validate to parse.

[2018-07-28 19:09] harindra-a commented on #9
yeah, agree with with @fschiettecatte and @Relequestual. All good point. Parsing parenthesis as strings are going to be a pain to implement for people and error prone. @Relequestual's alternative suggestion works pretty well and seems a compromise @colinveal ?

Let's lock this down and modify the standard asap please since we are almost on the v0.1.0 freeze..

[2018-07-29 19:17] colinveal commented on #9
Sorry been away for a couple of days. We use both methods internally depending on interface and back end, so I'm happy to proceed this way.

[2018-07-29 20:07] harindra-a commented on #9
No worries,  thanks @colinveal. And awesome!

@Relequestual,  sounds like we have consensus? Can you or @colinveal  update the standard to reflect this new pattern when one of you gets a chance?

Nice work guys!

[2018-08-01 12:55] Relequestual commented on #32
Thanks for these @colinveal
It looks like we've reached an updated consensus at https://github.com/ga4gh-discovery/ga4gh-discovery-search/issues/9#issuecomment-408702362

Are you happy to close this issue in favour of https://github.com/ga4gh-discovery/ga4gh-discovery-search/issues/9

The gists should stay around for reference.

[2018-08-01 12:57] Relequestual commented on #21
@fschiettecatte any further comments or questions on this?

[2018-08-01 13:18] Relequestual commented on #18
Given there's no response on this, I'll write up the details as I understand them in the field defintion.
If there are any objections, those can be raised when that work is done.

[2018-08-01 13:50] fschiettecatte commented on #21
Nope.

[2018-08-01 13:51] #21 closed

[2018-08-01 14:29] Relequestual commented on #29
Agreed to close and evaluate on a case by case basis.

[2018-08-01 14:33] Relequestual commented on #24
Consensus on call today:
Colin and myself agree that specifying components only make the API structure more flexible.

[2018-08-01 14:33] #24 closed

[2018-08-01 14:45] Relequestual commented on #23
Consensus on call today:
No.
The reason for this and better explanation will be in the first version.

[2018-08-01 14:52] Relequestual commented on #15
Consensus on call today:
No.

[2018-08-01 14:52] #15 closed

[2018-08-02 07:56] rishidev commented on #2
To clarify - The response side of the query-repsonse process wasn't what the issue was created for. So a service asking a user to agree terms and conditions before returning results is a debate for a different issue if it is needed.

As I understand it the having the disclaimer/terms etc in the request/query is making a a demand on the server that the server agrees to. On the query (i.e. what the

[2018-08-02 09:19] Relequestual commented on #2
Thanks @rishidev

What if the "terms" were not for displaying or viewing the data, but required to accept for using the data (beyond processing by a client for those pourposes)?

@harindra-a Any thoughts on if this should remain or be removed for 0.1.0?

[2018-08-02 09:41] rishidev commented on #2
@Relequestual  The issue isn't the existence of querier imposed terms per se, but how open text querier imposed terms are accepted in a legally recognisable manner. If a server makes it clear 'we will do X,Y,Z with provided data' and a querier sends this in with 'You cannot do Y,Z with the data I provide' what happens? As it stands there if there needs to be terms they are outside the scope of thi

[2018-08-02 13:02] harindra-a commented on #2
hi guys, good discussion. Definitely important long term.

I would vote we push this for post Basel/October though, for now go with how we do things in MME. I know from DURI folks, they are pretty early stage. So let's swing back to this post first release.

[2018-08-02 16:04] colinveal commented on #32
Hi, I've update models 1 (hierarchical) and 2 (non-hierarchical) with json pointers.
[model 1](https://gist.github.com/colinveal/6c0a0efd51006bb83d823f78776ebb32)
[model 2](https://gist.github.com/colinveal/186cb8be3e0ec682d1fb93a945c71ccb)

[2018-08-02 16:45] colinveal opened #36 "which operators will be supported"
Sorry if I've missed it somewhere in the issues, but I couldn't find any discussion of which operators the api will support and where they will be included.  In the examples I created for the logic models I included Cafe Variome operators within the components themselves.  I don't really mind how we include or format the operators.

The types of operators in Cafe Variome include (taken from the ge

[2018-08-03 08:33] Relequestual commented on #36
Hi @colinveal , I think we thought about this very early on, and decided it would need further thought, and should wait till after the first version.

[2018-08-03 09:05] Relequestual commented on #2
Oh sure, I don't feel defining this is the responsibility of this project.

I feel it makes sense to have at least something while the finer points are being worked out by other groups.

In terms of "how we do things in MME", that could work for now, in that each node must connect with each other node, but I highly expect the majority of the nodes which implement the Search API will require no aut

[2018-08-03 09:56] Relequestual commented on #32
Looking at these updated examples, it looks like this issue is still discussing if we need hierarchical components, and not how the components are referenced (which we have agreed on now I believe).

Could you explain in sudo logic the query you're expecting please?

---

Following from my previous experience with the MME API specification, and how we and others represent variants in our database,

[2018-08-03 10:11] Relequestual commented on #32
To summarise the previous, I want to combine fields into components which represent different contexts, removing ambiguity. There may be components which have similar fields, but have different contextual meaning. I find that a preferable solution over nesting components.

I'm even unhappy about the potential to assign different meanings to components based on how they are combined, which seems to

[2018-08-03 13:19] harindra-a commented on #2
Yup, I meant MME way just for the approval process demo for the next few months, and maybe even phase 2 (using real data).

But long term (into next year), you are correct, the network will be a mix of open and authenticated nodes and will need specialized agreements. I think Mike Brudno brought this up last MME meeting as well. Maybe we should start a small group to investigate this as it will be

[2018-08-03 15:44] colinveal commented on #36
Hi, yes I agree this is likely for after the first version, but was thinking whether there could be a placeholder within the components (or elsewhere) that just specifies "exact" match for the first version.

I hadn't really considered how the text comparators would work with ontology codes, just plain text (which isn't necessary for the first version), but this is an interesting idea, perhaps the

[2018-08-03 16:34] colinveal commented on #32
The query is:
A subject that has (heterozygous allele 'A' at variant rs123 where variant rs123 is pathogenic for dementia and variant rs123 has a relationship with MMSE AND the subject has dementia or Alzheimer's disease) OR (the subject has homozygous allele 'C' at variant rs124 AND the subject has Alzheimer's disease or MMSE > 20.

I can see how we can use fields to replicate a lot of the hierar

[2018-08-05 21:47] fschiettecatte commented on #2
I view the `acknowledgments` section as a convenience _bucket_ for the transport of terms & conditions. The protocol should not define what happens with then once they are out of the _pipe_. As I mentioned before MME v1 has a lot of policies which repository member are required to adhere to which have nothing to do with the protocol per se, and requiring users to accept terms & conditions falls in

[2018-08-06 09:00] Relequestual commented on #36
I think we generally want to avoid free text as much as possible, and make that a client side responsibility, mapping to codes.

In terms of how things should work for the first version, I feel the best approac is:
- Anything that is a specific value should match only that specific value.
- Anything that is a range value should match anything which overlaps that range.

I don't want to define this

[2018-08-06 09:48] Relequestual commented on #31
Should https://github.com/ga4gh-discovery/ga4gh-discovery-search/pull/30/commits/cd2acd72b79046474a50a6cd788aeae31615409f get merged, does this look OK as a resolution to you?

[2018-08-06 09:51] Relequestual commented on #31
Component's versions will be specified in metadata.

[2018-08-06 09:59] Relequestual commented on #25
It looks like after this discussion, I've defined that search components be nested under `query.components`. I think this was to align better with other proposals. (see model 2 in https://github.com/ga4gh-discovery/ga4gh-discovery-search/issues/32#issuecomment-409979513)
As such I'll close this, and #11.

@fschiettecatte Please re-open if you fee this is not OK.

[2018-08-06 10:00] Relequestual commented on #11
Closing as #25 is resolved.

[2018-08-06 10:06] Relequestual commented on #31
Do you think `acknowledgments` should be a "response meta component" or remain in `records.collectionComponents`?

I feel like the correct place for it would be as a response meta component, as it isn't actually pard of the record.

[2018-08-06 11:04] Relequestual commented on #18
Attempt to resolve with https://github.com/ga4gh-discovery/ga4gh-discovery-search/pull/30/commits/854e4c12eab2beeb7f90717a00c5c8563be15f20

ID must a be a string of max 2000 characters.

Defined as:

2000 characters was chosen as is often taken as a reasonable length limit for a URL given various browsers support slightly more than that.

I don't see any reason for the response to include the requ

[2018-08-06 11:09] #11 closed

[2018-08-06 11:12] Relequestual commented on #10
Proposed solution: https://github.com/ga4gh-discovery/ga4gh-discovery-search/pull/39

Change from spec in previous comment:
- MAJOR version must be in URL

Still need to add version number to JSON payload (Specifiying using JSON Schema.

[2018-08-06 13:50] Relequestual commented on #10
API version included in JSON payload: https://github.com/ga4gh-discovery/ga4gh-discovery-search/pull/30/commits/ac62eeed9c5a358c2951a3300dc13db107afa7ef

[2018-08-06 14:17] colinveal commented on #36
sounds a plan, agree for first version

[2018-08-06 16:12] Relequestual commented on #9
Proposed solution: https://github.com/ga4gh-discovery/ga4gh-discovery-search/pull/30/commits/5b86630c2879a13f9930b82d4aaf55cc7146274c

Let me know if there are any issues with this, otherwise I'll proceed.

[2018-08-06 16:46] colinveal commented on #26
Hi not sure where to put this, but here are some potential components. They are in the nested structure, but obviously the relevant parts can be flattened for the first version. (Also no need for operators in first version)

[CV_components](https://gist.github.com/colinveal/af822507efc4ab13ad664abe1c84d9bf)

[2018-08-06 17:05] fschiettecatte commented on #31
Agreed with making it a response meta component.

[2018-08-07 09:04] Relequestual commented on #31
Done with https://github.com/ga4gh-discovery/ga4gh-discovery-search/pull/30/commits/ffeadb40da1e15cde5076219635c12681adf4712

[2018-08-07 10:25] Relequestual commented on #31
Modified to allow single or array of acks: https://github.com/ga4gh-discovery/ga4gh-discovery-search/pull/30/commits/3f2c3098fe13113081fbda0110ca5639a2160ef2

[2018-08-07 10:57] Relequestual opened #42 "Define component for Phenotypes"
For the initial release, a "phenotypes" component needs to be specified.
For now, I'm going to replicate the format used in the MME project.

[2018-08-07 13:28] Relequestual opened #43 "Define component for Gene"
For the initial release, a "gene" component needs to be specified.
For now, I'm going to follow as defined by MME and suggested for 2.0, Ensembl Gene ID.

[2018-08-07 13:46] Relequestual commented on #43
Proposed solution: https://github.com/ga4gh-discovery/ga4gh-discovery-search/pull/30/commits/79f42402e24fdfd60155a4fc01012544eda01a83

[2018-08-07 17:44] harindra-a commented on #2
hi folks, lets push this for post-October discussion. I think there are some interesting directions we can take this, so let's hold discussion for when we have a bit more time. Maybe we nominate a subgroup to investigate it post-October.

I annotated/labeled this issue/thread to "After-1.0.0" to focus efforts for Basel, hope that's OK with everyone.

[2018-08-07 17:45] harindra-a commented on #43
yeah, that's a great starting point

[2018-08-07 17:53] #17 closed

[2018-08-07 17:57] #18 closed

[2018-08-07 17:57] #31 closed

[2018-08-08 08:14] #43 closed

[2018-08-08 08:15] Relequestual commented on #42
Has been merged in as part of #30

[2018-08-08 08:15] #42 closed

[2018-08-08 08:16] Relequestual commented on #10
#39 has been merged

[2018-08-08 08:16] #10 closed

[2018-08-08 08:17] Relequestual commented on #9
Merged in as part of #30

[2018-08-08 08:17] #9 closed

[2018-08-08 09:12] Relequestual commented on #17
It turns out this is pretty tricky to specify using JSON Schema, especially if I want to maintain draft-5 backwards compatibility to eventually auto convert to OpenAPI.
Given it's part of the written spec, we don't NEED to enforce this using JSON Schema.

[2018-08-21 09:39] Relequestual commented on #45
Fixed with https://github.com/ga4gh-discovery/ga4gh-discovery-search/releases/tag/1.0.0-rc.2

[2018-08-28 18:04] colinveal opened #48 "Allow a response to express results from multiple data sources"
Sorry if this is already solved or duplicate..
In Cafe Variome we often host multiple datasets from different 'sources', is there a way in collectionComponents (ie an array of results components) to keep the results separate for each of these sources with a key for a source ID.

[2018-08-28 18:48] fschiettecatte commented on #48
Hasn't been brought up but it is a very good point. With MME the assumption is that there was only one collection/index/database/source.

I am not a fan of adding a source ID in the results, I think it would be preferable to specify the collection in the search request. It does raise a bunch of questions though:

- Do we define this in the search request or via different endpoints?
- Would we need

[2018-08-28 20:32] colinveal commented on #48
As you note, the problem with specifying the collection (or combination of collections) is that they would need to know this information before sending the request whether this was in the api or via individual endpoints. Also I wouldn't really want to create a new endpoint for every collection (could be hundreds).

Having an array in the collectionComponents allows multiple results with minimal im

[2018-09-03 10:03] Relequestual opened #49 "Meta section doesn't clearly define component versions"
As of 1.0.0-rc.2, the `meta` object doesn't allow for clear separation of components based on their type.

This means that if a nameing conflict were to occur, we wouldn't be able to specify the version used for each of the component types that have the same name but are of a different type.

The types of components are...

    Record
    Collection
    Search
    Request Meta
    Response Meta

[2018-09-03 10:08] Relequestual commented on #47
I'm inclined to suggest `X-GA4GH-Discovery-Expect`. I think the name is probably inconsequential, but good to avoid name clashes.

[2018-09-03 10:58] Relequestual commented on #48
I did think about this and there are number of complex issue to consider when supporting endpoints which refederate the query across other resources.

As you say, any solution needs to be robust, and I didn't have the time to build in support for this within the time constraints imposed for v1.

I'm happy to take on this work adding support for this.

For v1, I think the way you can differenciate

[2018-09-03 15:13] fschiettecatte commented on #47
I agree on both counts.

[2018-09-03 15:50] Relequestual commented on #47
That would be the simplest option, however...
The "correct" way to do this is using an "Accept" header.

I've learnt more about that specification today!
Similar to MME, we would specify the Accept as...
`application/vnd.ga4gh.discovery.search+json`
but the version can be as a separate "extension paramiter".
https://tools.ietf.org/html/rfc7231#section-5.3.2

So like the following:
`Accept: applica

[2018-09-03 15:55] fschiettecatte commented on #47
I have to admit I like the `Accept`, elegant but, as you say, over-designed for our purposes.

I guess it depends on how much you want future implementors to hate us.

[2018-09-03 16:01] Relequestual commented on #47
Based on the fact I'll be making another PR tomorrow, there's no harm in reviewing this one if you so wish.

[2018-09-04 08:11] Relequestual commented on #47
The "better" solution is sometimes the one that does the job.
New major versions are breaking changes anyway... If the technical people implementing this want a more robust solution for versioning, and this scales really well, then sure, the "proper" solution it is.

[2018-09-04 10:30] #49 closed

[2018-09-17 14:11] #6 closed

[2018-09-19 09:07] Relequestual opened #65 "Explain JSON Schema files and how to use them"
It's not obvious how the JSON Schema files are structured or how to use them.
There should be some documentation on how to use them and how they are structured.

[2018-09-19 15:56] Relequestual commented on #65
Fixed by https://github.com/ga4gh-discovery/ga4gh-discovery-search/commit/9acd2187ce1d2b7ec503b4585d581ea673613490

[2018-09-19 15:56] #65 closed

[2018-10-11 08:30] mcourtot commented on #29
Re dereferencing CURIEs (with apologies for commenting on a closed issue, but AFAIK this tracker also serves as discussion archive): the OLS service at EMBL-EBI provides CURIE resolution based on identifiers.org. We have been using it successfully for a little while and were planning on keeping doing that for the metadata schema work.

[2018-10-11 08:47] mcourtot opened #67 "C&P/GKS/Discovery components"
1. Minimum core metadata attributes for search. There was a spreadsheet with a minimal set that was circulated on the discovery side which I can’t find again. I *think* it may have been from Tony Brookes? It has only 20 attributes or so and could provide a good starting point to make sure C&P covers those appropriately.
 2. General metadata schema (to be worked on on the C&P side) should accommoda

[2018-10-11 08:49] Relequestual commented on #29
Thanks @mcourtot, Good to hear it being used successfully. We will definitly keep that in mind should we re-open or recreate this issue!

[2018-10-11 09:38] mcourtot commented on #67
To clarify, I am not proposing Discovery develops a new metadata model, rather that it aligns with the SchemaBlocks at https://github.com/ga4gh-metadata/schemas and informs their further development.

[2018-10-11 10:18] mbaudis commented on #67
@mcourtot +1 - We want the requirements from SearchAPI, Beacon & data exchange products (think phenopackets PXF) to inform the development of standards in [SchemaBlocks](https://ga4gh-metadata.github.io/schemas/), which then should serve as the reference for "product" developments.

(Maybe this isn't the final place for the code; could be starting point for a work stream subgroup...)

[2018-10-22 10:43] Relequestual commented on #67
I think there's a lot of overlap here in terms of what Discovery has been ask to do regarding its component architecture and component data model definitions, and the MetaData Schema Blocks.

I need to discuss this further with @mfiume.

I'll be putting out a Discovery Search API work retrospective soon regaridng the standard not getting approved at the SC meeting in Basel. Part of the feedback I

[2018-10-22 11:27] mbaudis commented on #67
No, actually not (intended to be machine readable). It is just "human readable but decent in consistency", waiting to be picked up for formalisation ... Format so far "informed by" OpenAPI, but more in a pseudo-code way.

[2018-10-22 13:05] Relequestual commented on #67
@mbaudis OK, that's actaully good news from my perspective!

Payload definitions in OpenAPI are actually a sub/superset of JSON Schema, which is better suited for individual model definitions for data represented in JSON.

There are lots of aspects at play here regarding model definitions and formalisation. Happy to discuss more in detail if you think that's useful right now.

[2018-10-22 14:33] mcourtot commented on #67
The intent was indeed to have a human readable spec, but leave the implementation free. For example, Phenopackets uses [protobuf](https://github.com/phenopackets/phenopacket-schema/blob/master/src/main/proto/org/phenopackets/schema/v1/core/base.proto), but for my purposes I want to use JSON as we are also working on a [common validator](https://github.com/elixir-europe/ingest-validator-js) (with E

[2018-10-22 15:16] Relequestual commented on #67
I think one of the aspects here is you're defining models which can aslo be for storage, and not just models to be used for transmission of data, right? That's a tangent anyway.

Could you expand on what you mean by "metadata attributes"?
Maybe you could give an example of what you think one COULD be.
I think maybe we have a different understanding of "metadata".

In terms of the previously mentio

[2018-10-22 15:48] mbaudis commented on #67
@Relequestual Metadata attributes: "Everything but the sequence" (well, sequence and associated positioning, quantitative elements). So it could mean phenotypic attributes, disease codes, time attributes, geolocation data ... See https://ga4gh-metadata.github.io for examples.

For Beacon (but anywhere else "data search to transmit" for that matter), it is not sufficient (in the long run) to have s

[2018-10-23 08:52] Relequestual commented on #67
@mcourtot Thanks for the clarification, and thanks @mbaudis too, I think this is now clearer to me.
Meta depends on the context, so I need to be clear what the context is. I try to prefix "meta" to give context, like "Search meta".

I think scoping objects as you described above is interesting, and a discussion we need to have, but I'm not keen to have right now, at least not in the long form requ

[2018-11-21 14:21] Relequestual opened #72 "Security considerations"
As mentioned in the RC5 Retrospective document:

While IETF RFC documents often do not extensivly mention general web based security considerations, and only those relating specifically to the document at hand, in this instance it could be beneficial to mention a number of additional security considerations for benefit of this specifications audience.

We should note security considerations:

- Da

[2019-02-28 10:58] Relequestual commented on #70
Email sent to GA4GH groups ga4gh-discovery-networks, discovery, ga4gh-discovery-search, beacon on 26th February 2019:

[2019-03-04 15:47] Relequestual commented on #69
I like the approach of https://github.com/ReactiveX/RxSwift#i-came-here-because-i-want-to-
I think we should do this to partly resolve this issue.

[2019-03-20 14:14] mcupak opened #74 "Show how collected use cases are accommodated"
There are currently 2 documents containing use cases from driver projects and various groups of GA4GH (that I'm aware of): [old use case document](https://docs.google.com/document/d/1JPUQpqATUObM_mxPqMNxVtEGiIhuMK5x5zt1G6PnnFg/edit#heading=h.l702kseftu0), [new use case document](https://docs.google.com/document/d/1IseLxLSlhN2-PI0_ZFkieClSa3q70MJGZS5XxO-meCQ/edit#heading=h.xt89zansanow).

Some of t

[2019-03-20 14:26] mcupak opened #75 "An alternative Search API proposals"
There are 2 different Search API proposals documented through various threads and documents - the one in this repository, and the one proposed by Marc Fiume, as shown in the screenshot below:

![image](https://user-images.githubusercontent.com/1255598/54691912-82e78080-4afa-11e9-9910-3396d0eb8fa4.png)

We should figure out how to align them and converge on a single API offering the benefits of bot

[2019-03-20 14:48] Relequestual commented on #75
This is indeed very different. I thought that what was demonstrated in this repository currently, and released as 1.0.0 RC5, was the structure that most aligned with the needs, and was a view of general consensus from the currently interested groups. (As in, what's in the repository is not a proposal... The group has gone round and round on this, and now there are three demonstrations that show th

[2019-03-20 15:09] kemp-google commented on #74
This would be very helpful to me as a newcomer to the conversation.  I would greatly appreciate clarity around the use cases and how they can be translated into queries against the API.

[2019-03-20 15:11] Relequestual commented on #74
Super. This looks like it should be a high priority!

[2019-03-20 15:14] kemp-google commented on #75
For what it's worth:
* I do think having a standard query language is valuable (eg, either SQL or something directly translatable to it, or something else that's standard).  What is proposed in the specification right now seems very limited to me and will no doubt grow over time
* If there is truly a feeling that there are existing technologies that cover this problem space, I think it's worth doc

[2019-03-20 15:49] Relequestual commented on #75
There was a lot of very early days discussion around this where we carried out the excercise you describe. I spent several weeks on this.

One issue is, we were told we need to NOT tie anything down to specific implementations (for example, SQL), and GA4GH is a specifications game, as such.

Of course, whatever is specified needs to be easily translatable into SQL. I do not debate that being able

[2019-03-20 15:56] Relequestual commented on #75
Also, it's worth remembering that the GA4GH PRC were happy with the framework concept. As a framework, it may have been approved, but there were concerns about how components would be maintainted and updated, and documentation issues to be resolved.

What I'm saying is, others have seen the structure as it is now, and agree that it's what's required.
I'm not saying there shouldn't be clear documen

[2019-03-20 16:51] kemp-google commented on #71
I can take a look at this (eg as a simple example built on top of the existing open source beacon server we have).

[2019-03-20 22:54] ljdursi commented on #75
At CanDIG, we're starting to work on the backend engine for this sort of search functionality - it's a requirement for us, and for the CINECA project we're part of along with many of our EU partners.  Any such backend will require farming out the query to multiple services, in parallel or sequentially, and combining the results. (e.g., the prototype involves clinical data from a FHIR service and g

[2019-03-25 11:43] Relequestual commented on #72
@kemp-google Did you say you're willing to take this on? If so, I'll re-assign to you! =]

[2019-03-25 12:00] Relequestual commented on #75
Hey @ljdursi Thanks for your comments. I've yet to review the use case collection document from CanDIG, but I'm appreciative of it being filed and sent our way.
I agree, it's important to have something that is easily translatable into whatever query language the end system wants to use, but we shouldn't take a specific one (like SQL), and create an abstraction layer ontop of that as the format. T

[2019-04-03 16:06] Relequestual commented on #74
I've done some tidying of the documents in the GA4GH Search API Google Drive folder.

I've separated the responses from Driver Projects to the use case collection document, from other non Driver Project feedback and ideas.

Currently, from what I can tell, we only have TWO official responses from the use case collection document, although one of them covers two Driver Projects.

I'd like for the v

[2019-04-05 17:01] kemp-google commented on #72
Thanks @Relequestual.  Did you have a desired location for this content?  If not I imagine a "Security Considerations" section in `specification.md`.

[2019-04-08 10:51] Relequestual commented on #16
Given the previous blocker is resolved in favour of using the component system, this issue is no longer relevant.

[2019-04-08 10:51] #16 closed

[2019-04-08 12:34] Relequestual commented on #74
Looking at the two linked documents from the first post, most of the use cases presented by users are to do with types of data. The components architecture means that any type of data is supported as long as someone has defined the schema.

Can either of you (or anyone else) draw out some requirements which are not related to specific data types?

For example, the ability to limit the results and

[2019-04-08 12:37] Relequestual commented on #74
OR, if there are queries you feel are complex and you'd still like to see how it could work with the components structure, please let me know!

@mcupak @kemp-google

[2019-04-08 19:24] mcupak commented on #74
@Relequestual Sounds good, I'll take a look in the next couple of days and document here. Thanks!

Any feedback is valuable and we don't have a lot of it from DP, so I wouldn't discard the responses just because they're not in some official format, but I agree with the DP-first approach. I also think it could be valuable to demonstrate the use cases that have to do with types of data even if it's

[2019-04-08 19:28] mcupak commented on #75
@Relequestual Regarding the approaches previously considered, what technologies were evaluated (e.g. SQL, GraphQL)?

[2019-04-23 08:36] Relequestual commented on #75
We looked at potentially using something like elastic search or solr, the mandate is to not limit use to a specific tech stack (which that would do).

I agree we should have something that's easily translatable into SQL, but the issues driver projects face are a layer above acutally constructing a query.

At the risk of [repeating myself](https://github.com/ga4gh-discovery/ga4gh-discovery-search/i

[2019-04-23 14:34] fschiettecatte commented on #75
I would second @Relequestual's comments, drawing a spec to suit an implementation (SQL for example) would incur 'technical debt' that would be repaid in spades in the future. The aim of the spec is to represent a search, and let individual sites implement it how they best see fit on top of or alongside whatever search/storage systems they have.

VariantMatcher uses MySQL for storage and SOLR for s

[2019-04-23 14:56] ljdursi commented on #75
I sympathize with the wariness, but the idea that relying on a home-made and hand-implemented query language is _not_ technical debt while being able to easily use a widely implemented query language _is_ technical debt is strange to me.

The idea that the API easily supports being able to (not being required to, being able to) use a standard query language - SQL or GraphQL - as an interface to st

[2019-04-24 08:37] rishidev commented on #72
The security considerations have traditionally gone into the main specification. Also [htsget](https://github.com/samtools/hts-specs/blob/master/htsget.md) has some standard GA4GH language on the Cross Origin Resource Sharing that may be useful

[2019-04-24 16:23] Relequestual commented on #75
@ljdursi If the problem here was just allowing the federation of queries to SQL capable backend systems, based on a set of standard schemas, then there would be no need for this project.

It is expected that the Search API structure will be translated into SQL, and we should make that easy.
During the early discussion, I even suggested the `logic` object, could follow a structure used in an existi

[2019-04-25 13:38] kemp-google commented on #75
I do not think the use of a standard query language (like SQL) and the underlying data model are tied together as closely as you suggest.

What I think Marc was proposing is in fact not really any different than what you have proposed, except that instead of inventing a new method to construct queries, it proposes using an existing standard.

The query and the model are separable: we *should* defi

[2019-04-26 08:17] Relequestual commented on #75
As an immediate reaction, I'd be a little worried if we started passing around SQL, that people would send it directly to the database, which obviously creates huge security risks. While it's true that all paramaters should be parameterized anyway, passing a fully fledged SQL query certinly increases the chance that someone will assume it's safe.

Additionally, I'm concerned that having to use an

[2019-04-29 08:15] rishidev commented on #75
I have been having some confusion on calls trying to follow discussions and I think this thread crystallizes the issue.  The first step to resolving this is I think to clarify terminology. The Discovery Search API is and should be what is based in this repository. It has been worked through with various Driver Projects - MME, EJP-RD, HCA, ENA/EVA/EGA.

 The second set should probably be referred t

[2019-04-29 09:16] mcupak commented on #75
Many good points here.

@rishidev I think you identified the problem correctly in that there are 2 approaches right now and the message going outside of this group is conflicting because of that. Both approaches are trying to solve a very similar problem though and ultimately enable the same use cases so I'd prefer to align as part of a single standard to avoid further confusion. I'd consider 2 se

[2019-05-10 10:15] asbjornu commented on #75
@mcupak, first; 700 lines of code **is not simple**. Second, I've never seen a database abstraction layer that doesn't in one way or another leak features of the underlying database up into the client. Especially with Presto claiming support for both SQL and non-SQL databases, I'm having a very hard time to believe there's 100% feature parity and compatibility across all database backends.

This m

[2019-05-10 13:23] ljdursi commented on #75
Re: other query languages -  I was actively advocating for GraphQL for exactly this purpose, until we started working with it more closely.  There are definitely places it fits nicely - exposing connections between graph-like data like complex FHIR records - but it's only barely a query language in the sense we'd like here (not including basic things like filtering as part of the standard syntax)

[2019-06-12 20:17] mcupak commented on #74
Superseded by https://github.com/ga4gh-discovery/ga4gh-search/issues/1.

[2019-06-12 20:17] #74 closed

[2019-06-12 20:17] mcupak commented on #75
Closing as per recent decisions on calls and emails. This repository will evolve to contain case discovery API, and search will be developed as part of [ga4gh-search](https://github.com/ga4gh-discovery/ga4gh-search).

[2019-06-12 20:17] #75 closed

[2019-07-01 09:48] Relequestual opened #76 "This project changed names to "Case Discovery" and the readme doesn't reflect this"
The readme needs to be updated to reflect the name change of the project, including some information on what has happened and why.

[2019-07-08 09:09] Relequestual opened #77 "Collect feedback from implementers and stored in a collaborative space"
Implementers of the 1.0.0-RC5 version of the specification extended the specification to be more useful.
Can those who implemented please provide a 1-2 page document containing:
- A few detials on their approach to implementation
- Any issues they experienced with the specification
- Any extensions or changes they made to the defined format

Please make a PR which includes the document in `/docume

[2019-07-08 09:13] Relequestual commented on #77
Assigned people for each project

[] Variant Matcher - François @fschiettecatte
[] Cafe Variome - Colin? @colinveal
[] Illumina - ?
[] RD-Connect - ?

[2019-07-08 10:26] Relequestual opened #79 "Agree on consensus based on RC5 feedback"
This comment will be updated with issues to be agreed on as in scope.

Issues arrising from RC5 feedback:
- [ ] Allow a response to express results from multiple data sources https://github.com/ga4gh-discovery/ga4gh-case-discovery/issues/48
- [ ] Update authentication protocol to use JWT https://github.com/ga4gh-discovery/ga4gh-case-discovery/issues/85

Other RC6 issues resulting from prior GA4GH

[2019-09-02 08:49] Relequestual commented on #77
This is now resolved. Variant Matcher declined to give formalised feedback, saying they never managed to connect with Illumina in the end, but Variant Matcher changes would be the same as Illumina.

[2019-09-02 08:49] #77 closed

[2019-09-02 08:50] Relequestual commented on #77
Resolved by #80, #81, and #82

[2019-09-02 09:15] Relequestual commented on #78
@jhkbg
Your feedback document at https://github.com/ga4gh-discovery/ga4gh-case-discovery/blob/master/documents/RC5-feedback/CaseLog.md details that you added...

1. Metadata on for the request to include contact information
2. Additional metadata on responses to include information on the associated study or cohort
3. For each query, include the total number of samples; or count of non-matching sa

[2019-09-02 10:54] Relequestual commented on #78
@colinveal Your feedback document at https://github.com/ga4gh-discovery/ga4gh-case-discovery/blob/master/documents/RC5-feedback/CafeVariome.md you detailed that you...

1. Added authentication content to the payload
2. Did phenotype matching using a similarity score
3. Added an Entity-Attriute-Value query component for more powerful queries
4. Returned multiple datasets
5. Returned differing authe

[2019-09-09 15:06] colinveal commented on #78
@Relequestual
Regarding 1.
this sounds fine.

Regarding 2.
Sorry I wasn't clear about this, but this isn't a hands off matching process. The component allows the user to explicitly state which similarity measure and associated parameters, for example "resnick" and an MICA > 2, and can of course be logically combined with other 'non-matching' components. We have a number of customised Cafe Variomes

[2019-09-16 10:33] Relequestual commented on #48
This is now re-scoped to be included in v1 as a result of reviewing feedback from RC5 as per https://github.com/ga4gh-discovery/ga4gh-case-discovery/issues/78

[2019-09-16 12:35] Relequestual commented on #70
This "more complex" workflow concept sank like a dead weight.
I will look to create a very simplified light weight several step process.

[2019-09-16 12:36] Relequestual commented on #71
I think this is now out of scope given that the Case Discovery API looks to solve a single use case, and therefore does not need to demonstrate multiple use cases.

[2019-09-16 12:38] Relequestual commented on #72
A new security document has been created by the Security worksteam.
I have filled most of this in: https://drive.google.com/open?id=1IIqzk6wrphqXHNN72BKZA9nvRm0_efPwEbTO8pYTcRc
I was unclear if all of the form was relevant to this specification.
Rish said the document should be submitted as is to open a discussion.

@rishidev Can you let us know when we should expect to hear back on the submission

[2019-09-16 12:51] Relequestual commented on #78
I've created two new issues, documented at https://github.com/ga4gh-discovery/ga4gh-case-discovery/issues/79

[2019-09-16 12:52] Relequestual commented on #79
@colinveal, @jhkbg, @taspapak, if you can agree with the above being the outstanding issues to resolve for RC6, then this issue can be closed and further work can continue.

[2019-10-08 11:46] colinveal commented on #79
@Relequestual yes I agree these are the outstanding issues to resolve for RC6

[2019-10-09 15:09] Relequestual commented on #79
No further discussion on call. OK to close.
Please re-open if required.

[2019-10-09 15:09] #79 closed

[2019-10-10 08:10] #48 closed

[2019-10-18 16:16] cmungall opened #23 "Use of underscore as separator in dataset/{id}_{pageNumber}"
In https://github.com/ga4gh-discovery/ga4gh-discovery-search#dataset-in-a-bucket-no-code-implementation

you have a path `dataset/{id}_{pageNumber}`

This is ambiguous unless you forbid IDs from containing underscores - is there a specification of IDs? Isn't it more customary to use http params for paging?

[2019-10-30 18:46] patmagee commented on #21
@mfiume @mcupak FYI the README.md needs to be updated. All of the documentation is outdated

[2019-10-30 20:14] patmagee commented on #21
@mcupak #24 should be merved over this PR. I addressed the issues outlined by @jfuerth and updated some of the documentation

[2019-12-02 19:55] jfuerth commented on #23
Hi @cmungall

Thanks for the question. I agree that, in general, `_` is not a safe delimiter between an ID and a page number. This was meant to be an example, not a requirement. Reading it in the context of your question, I agree it comes across as prescriptive.

Query parameters are indeed common and you could use them if your server supports it (more on this below). Any of these would also satis

[2019-12-02 20:00] jfuerth commented on #10
The link to the example in README.md is working and up-to-date with the current spec.

[2020-02-05 16:32] mcupak opened #25 "Prepare for PRC"
- [x] fill in [product approval submission form](https://docs.google.com/document/d/1HuhCWDGw3PmICJ6pmoi2yyFnzWNyw1_0lLiDRpLhWjo/edit?usp=sharing)
- [x] fill in [product proposal security questionnare](https://docs.google.com/document/d/1JlMBN-CUrReA9JStYhcvXdA9-a_heo1RNh9L_fJeCsI/edit?usp=sharing)
- [x] fill in [regulatory and ethics assessment](https://docs.google.com/document/d/1ForMy5AbrMQXiAo

[2020-02-07 19:48] mcupak commented on #20
This has been done.

[2020-02-07 19:55] mcupak commented on #11
This looks resolved, please reopen if needed.

[2020-02-07 20:01] mcupak opened #26 "Release Tables API as 0.1"
Since we now have multiple implementations using the Tables API as is in `develop`, I wonder if it makes sense to release the current state as 0.1 to have a stable state to refer to, and target the Search/Query part for 0.2.

@kemp-google @jfuerth WDYT?

[2020-02-07 20:11] mcupak opened #27 "Add service-info endpoint"
Now that [Service Info](https://github.com/ga4gh-discovery/ga4gh-service-info/releases/tag/v1.0.0) has been approved and released, we should add the corresponding endpoint.

[2020-02-07 20:25] mcupak opened #28 "Add error schema"
It would be useful to add an Error schema for error responses to the schema and agree on the structure, ideally aligning with other GA4GH standards (e.g. [Service Info](https://github.com/ga4gh-discovery/ga4gh-service-info/releases/tag/v1.0.0)). We should investigate if this is too prescriptive for our current no-code implementations.

[2020-02-07 20:30] mcupak opened #29 "Add bearer auth support"
Add bearer auth support for non-public search services. Something like the following:

[code]

[2020-02-07 20:33] mcupak opened #30 "Add DURI-compatible security scheme"
With the relatively recent approval of AAI and Passport specs, we should extend #29 with the corresponding security scheme compatible with DURI based on their advice.

[2020-02-07 20:54] mcupak opened #32 "Update CI to use hosted validator"
https://validator.swagger.io/ now supports OAS 3. We can just use the hosted service and speed up our builds significantly.

[2020-02-11 15:13] jfuerth commented on #26
Sure, that sounds useful to me. Better than having a bunch of implementations that claim to target a snapshot.

[2020-02-24 21:14] #32 closed, assigned to mcupak

[2020-02-24 22:03] mcupak commented on #26
https://github.com/ga4gh-discovery/ga4gh-discovery-search/releases/tag/0.1

[2020-02-24 22:03] #26 closed, assigned to nobody

[2020-03-10 19:14] #29 closed, assigned to mcupak

[2020-03-10 19:20] mcupak commented on #31
@kemp-google Like this?

[2020-09-17 18:51] mcupak opened #41 "Update documentation"
We've been developing product docs in a separate Google doc - we should update now out of date documentation in this repo with the new content.

[2020-09-24 17:47] jvlasblom opened #45 "Exporting large search results"
### Problem
Large search results may be expensive or slow to transfer large search results, and the data host may need to shift these costs to the user.  "Requester-pays" seems hard to implement currently, as the cost of egress from the search implementation to the end-user isn't easily billed to that user.    What follows is a rough sketch of how an export function might work to solve this proble

[2020-09-25 19:41] mcupak commented on #31
Thanks! That's a good point, I'll bump it to 0.2 just so that we don't conflict with the previously released 0.1.

[2020-09-25 21:07] jfuerth commented on #31
LGTM

[2020-09-25 21:49] #41 closed, assigned to gewenyu99

[2020-09-28 16:55] #27 closed, assigned to mcupak

[2020-10-12 20:07] jmarshall opened #47 "Search request format is not documented"
[search-api.yaml](https://github.com/ga4gh-discovery/ga4gh-discovery-search/blob/develop/spec/search-api.yaml) has

[code]

which specifies that `/search` is a POST request and lists possible responses, but it does not describe what format the POST message body is in or what parameters it might have.

[SEARCHSPEC.md](https://github.com/ga4gh-discovery/ga4gh-discovery-search/blob/develop/SEARCHSPEC

[2020-10-14 15:49] jmarshall commented on #48
This PR does indeed insert a specification of the POST message body into the places I expected to find it in _search-api.yaml_ and _SEARCHSPEC.md_. (I haven't reviewed the text added in detail, as I would need to have been seconded onto the PRC to be in a position to do that.)

[2020-10-16 15:20] mcupak commented on #28
#37

[2020-10-16 16:45] mcupak commented on #48
LGTM! I made a minor change to the example so that it renders correctly on SwaggerHub and in Swagger Editor.

[2020-10-16 20:42] #28 closed, assigned to nobody

[2020-10-20 16:14] #47 closed, assigned to nobody

[2020-10-20 16:15] #25 closed, assigned to mcupak, kemp-google

[2020-10-27 22:00] mcupak opened #52 "Tables-in-a-bucket docs broken"
"The link to the GA4GH example in the docs is borked. I can see the table endpoint (https://storage.googleapis.com/ga4gh-tables-example/tables) but not the docs (https://storage.googleapis.com/ga4gh-tables-example/EXAMPLE.md)."

This is referring to [the last line in this section of the docs](https://github.com/ga4gh-discovery/ga4gh-search#tables-in-a-bucket-no-code-implementation).

[2020-10-27 22:02] mcupak commented on #52
I've checked the file does not exist in the bucket and I don't remember what it originally referred to (@jfuerth do you?). With the new docs we have now, I think we can probably just remove it.

[2020-10-28 13:55] jfuerth commented on #52
No, I don't remember what that EXAMPLE.md file was. The contents of that bucket have been recreated several times to keep up with changes in the spec, and the markdown file must have been lost along the way.

[2020-11-04 14:59] mcupak opened #55 "Document DRS integration"
From Ian: DRS is closely integrated in that existing implementations return DRS ids. This was recently noted as something that should be explicitly covered in the spec as an illustrative example.

[2020-11-25 15:47] mcupak opened #56 "Document interoperability"
Show interop with 2+ clients and 2+ servers in the [PRC report](https://docs.google.com/document/d/1VP7sLqijKvaEraVEAZrxQAa-3VP--AETeWOV5g7-s6U/edit?pli=1#) and our docs.

[2020-11-25 15:54] mcupak opened #57 "Document how to stand up a reference implementation on top of existing data"
Document in the docs and [PRC report](https://docs.google.com/document/d/1VP7sLqijKvaEraVEAZrxQAa-3VP--AETeWOV5g7-s6U/edit?pli=1#).

[2020-11-25 15:55] mcupak opened #58 "Clarify database support for SQL functions"
In the docs and [PRC report](https://docs.google.com/document/d/1VP7sLqijKvaEraVEAZrxQAa-3VP--AETeWOV5g7-s6U/edit?pli=1#), clarify support by various databases:

"Along that, the SQL section and reference to most clauses “should pass through with only minor tweaks” isn’t super reassuring.  Is there a table of SQL implementations and conformance available? It could be something to be easy to contri

[2020-11-25 15:58] mcupak opened #59 "Provide use case summary in the docs"
Update the docs and the [PRC report](https://docs.google.com/document/d/1VP7sLqijKvaEraVEAZrxQAa-3VP--AETeWOV5g7-s6U/edit?pli=1#):

[code]

[2020-11-25 16:00] mcupak opened #60 "Clarify DB security requirements"
In the docs and [PRC report](https://docs.google.com/document/d/1VP7sLqijKvaEraVEAZrxQAa-3VP--AETeWOV5g7-s6U/edit?pli=1#):

[2020-11-25 20:43] ianfore opened #61 "Review approach to pagination of Search results"
PRC review raised the question of how pagination works. Discussed in the [PRC report here](https://docs.google.com/document/d/1VP7sLqijKvaEraVEAZrxQAa-3VP--AETeWOV5g7-s6U).

The responses there note that a number of approaches exist to do pagination in REST services, but no standard.

Investigated  how FHIR does pagination of search results.

This is from the NCPI FHIR server which uses the follow

[2020-11-27 22:47] mcupak opened #63 "Migrate away from travis-ci.org before it shuts down"
Switch to travis-ci.com (or GitHub actions?) before travis-ci.org goes readonly at the end of the year:

https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom

[2020-11-30 13:58] jb-adams commented on #63
I've begun migrating some GA4GH specs and projects to travis-ci.com , I think the same could be done here if it works for the Search team. There's a limited free tier. We've discussed at secretariat a tech budget, which could include subscriptions for things like Travis CI. Though nothing concrete has been put in motion yet

[2020-12-09 14:53] mcupak opened #64 "Add implementation security clause to the docs"
From REWS product review:

`A stand-alone security review has been performed on the API. Nevertheless, any implementation that is linked to from the documentation accompanying the API is done so without any security guarantees. If you integrate this code into your application it is AT YOUR OWN RISK AND RESPONSIBILITY to arrange for an audit to ensure compliance with any applicable regulatory and s

[2020-12-09 15:32] mcupak opened #66 "Clarify dependency on Presto in the docs"
Make sure we're clear on Presto not being required by the specification.

[2020-12-09 15:36] rishidev commented on #65
If you want to link to the meeting minutes there is a permalink which will be up to date at https://w3id.org/ga4gh/minutes/discovery-search

[2020-12-09 15:37] rishidev commented on #65
My email address will shortly become irrelevant so probably best to point users to https://www.ga4gh.org/contactus/

[2020-12-09 15:39] rishidev commented on #65
The REWS text works well here. It might be good to duplicate in the documentation repository where we list the implementations as well.

[2020-12-09 16:19] mcupak commented on #66
Also clarify PrestoSQL vs PrestoDB.

[2020-12-10 16:14] mcupak commented on #65
Thanks @rishidev, I updated the meeting minutes link and pointed the email to our Search group. We'll merge the docs repo into this one.

[2020-12-10 17:50] mcupak opened #68 "Review PRC forms for inclusion in docs"
We've generated a lot of useful content as part of the PRC process. For things only addressed in the forms (e.g. security review), we should see if including some of that information in public docs would be useful for adopters.

Content to review:
- [x] Partner Engagement Intake
- [x] Regulatory and Ethics Assessment
- [x] Product-Approval Security Questionnaire
- [ ] Product-Approval Security Que

[2020-12-10 18:10] mcupak opened #69 "Link implementation docs from README"
https://github.com/ga4gh-discovery/ga4gh-search-docs

[2020-12-10 18:11] mcupak opened #70 "Integrate docs with this repo"
https://github.com/ga4gh-discovery/ga4gh-search-docs

[2020-12-10 18:13] mcupak opened #71 "Release 1.0.0"
Once we have approval from the Steering Committee, merge `release-1.0.0` branch and tag as official release.

[2020-12-10 23:21] mcupak opened #73 "Row-level access"
Suggestion from the PRC: consider requirements and documentation around supporting row-level access in the future (post 1.0.0).

[2020-12-14 17:58] gewenyu99 commented on #75
I suggest ignoring everything from the /hugo folder during the review, they're just copied over from https://github.com/ga4gh-discovery/ga4gh-search-docs.

[2020-12-15 15:17] gewenyu99 commented on #76
It finally passed on Travis! Merges in Hugo docs, should be an addition only PR. This will add Hugo but does not add links included in the .md document.

[2021-01-06 22:39] mcupak opened #78 "Update PrestoSQL references to Trino"
https://trino.io/blog/2020/12/27/announcing-trino.html

[2021-01-07 14:46] #70 closed, assigned to gewenyu99

[2021-01-07 16:08] gewenyu99 opened #81 "Hide draft pages or complete page content"
There exists a number of in-progress pages. They should be either drafted(hidden) or completed in Hugo.

[2021-01-07 16:10] gewenyu99 opened #82 "Clyde theme needs to be versioned for submodules"
This is sketchy: https://github.com/ga4gh-discovery/ga4gh-search/blob/release-1.0.0/.travis.yml#L15-L18, the builds can break due to Clyde updates.

We can add a Clyde version branch

[2021-01-07 16:15] gewenyu99 opened #83 "Update top nav items"
"Github", “Specification”, and “API” links added to the relevant files rather than the

[2021-01-07 16:24] gewenyu99 opened #84 "Favicon change to ga4gh logo"

[2021-01-07 16:34] gewenyu99 opened #85 "Find a way to add a sidebar in Clyde"
The current site does not state that its a GA4GH Search site clearly.

This is a theme issue, we'll need a custom feature added.

[2021-01-07 19:35] gewenyu99 opened #86 "Complete quick start guide for uploading results"
https://github.com/ga4gh-discovery/ga4gh-search/blob/release-1.0.0/hugo/content/docs/getting-started/upload-result.md

This page of Hugo docs needs to be filled out.

[2021-01-07 19:36] gewenyu99 opened #87 "Complete MSSNG Example"
I do not have access to the MSSNG examples, they need to be filled in for Hugo docs here: https://github.com/ga4gh-discovery/ga4gh-search/tree/release-1.0.0/hugo/content/docs/use-exisitng-data/retrofit-a-data-explorer

[2021-01-19 16:13] #52 closed, assigned to mcupak

[2021-01-19 16:13] #64 closed, assigned to mcupak

[2021-01-19 16:13] #69 closed, assigned to mcupak

[2021-01-19 16:13] #63 closed, assigned to nobody

[2021-01-20 19:38] mcupak opened #89 "Legacy link to docs in README"

[2021-01-20 19:41] mcupak opened #90 "Consolidate use cases in README"
We have 2 sections - consolidate.

[2021-01-20 19:41] mcupak opened #91 "Provide links to download clients in the docs"

[2021-01-22 17:59] #81 closed, assigned to gewenyu99

[2021-01-22 18:19] #83 closed, assigned to gewenyu99

[2021-01-22 18:20] #84 closed, assigned to nobody

[2021-01-22 20:46] gewenyu99 commented on #91
We have a section in the introduction to download the clients: https://ga4gh-discovery.github.io/ga4gh-search/docs/getting-started/introduction/#installing-client-libraries

Maybe I should link to that section in multiple places, or somehow make it more prominent?

[2021-01-22 20:48] gewenyu99 commented on #90
@mcupak This is referring to the "Applications" and "Usecases" section, right?

[2021-01-22 21:18] mcupak commented on #91
You're right, I missed that. I'd expect all client things on the same page - maybe "Consume data" should be that page? WDYT?

[2021-01-25 18:50] gewenyu99 opened #93 "Add contributing file under /hugo"
Since we're using Hugo + Clyde, we should briefly document how to contribute.

[2021-01-27 16:28] mcupak commented on #90
It's referring to "Illustrative use cases" and "Use cases".

[2021-02-08 16:54] gewenyu99 opened #94 "Name and case consistency"
- Use the official name everywhere in text, i.e. GA4GH Search, not Search or Search API.
- Use consistent case in headings, for example, Installing Client Libraries is all camelcase, but Issuing queries using the Search API isn’t. Follow APA for reference

[2021-02-08 16:58] gewenyu99 opened #95 "Mobile support for Hugo docs"
As requested by Marc, GA4GH Search docs must be mobile-friendly.

[2021-02-10 11:47] ifokkema commented on #23
Just passing by here on my search for existing APIs when planning to build a new one on top of [LOVD3](/LOVDnl/LOVD3). I think the above information would be very valuable to be added to the docs. In my use case, I'm personally thinking about providing pagination in the sense of a genomic location, so "normal" page numbers don't suit me, either.

[2021-02-10 15:40] mbaudis opened #96 "{S}[B] links in SEARCHSPEC.md"
In SEARCHSPEC.md there is at least one reference to a non-existing schema:

https://schemablocks.org/schemas/example/blood-group/v1.0.0

[2021-02-10 16:15] ifokkema opened #97 "README.md: "rectangular" data only?"
Hi all,
A probably minor thing; the `README.md` mentions twice that GA4GH Search can be used for any "rectangular" data. This suggested to me that GA4GH Search can be used *only* for "rectangular" data, so I nearly discarded the idea of using this format. However, digging further, [examples](https://github.com/ga4gh-discovery/ga4gh-search/blob/develop/TABLE.md) show that luckily it isn't, and obje

[2021-02-10 21:45] #66 closed, assigned to mcupak

[2021-02-16 14:00] ifokkema opened #98 "GA4GH Table Discovery API with limited search?"
Hi all, I'm aiming to add a GA4GH Table Discovery API on top of the [LOVD3](/LOVDnl/LOVD3) software. However, I can't currently implement the GA4GH Search API for several reasons (too complex, will need a lot of work to ensure LOVD3 authorization rules are always applied, but I don't have the hours available to do this). Yet, I do need some simple filtering.

My initial idea was to provide support

[2021-02-16 14:18] ifokkema opened #99 "RESTful API?"
Hi all; I see some references here and there that mention that the GA4GH Search API is RESTful, but according to the definition of REST APIs, I'm afraid it isn't.
- In case you don't mean to have a REST(ful) API, such statements can be removed (e.g. from [here](https://github.com/ga4gh-discovery/ga4gh-search/blob/develop/SEARCHSPEC.md) and [here](https://ga4gh-discovery.github.io/ga4gh-search/).
-

[2021-02-16 22:21] jfuerth commented on #23
Thanks @ifokkema. If you have a moment, I would appreciate your review on PR #100.

[2021-02-17 09:27] ifokkema commented on #23
Looks great, @jfuerth! Thanks!

[2021-02-17 15:49] #23 closed, assigned to nobody

[2021-02-23 20:38] jfuerth commented on #96
Thanks for catching that. It was meant to be a hypothetical example. I will change it to use example.com for clarity.

[2021-02-23 20:42] mbaudis commented on #96
Well, I actually would like an {S}[B] example :-)  How about using https://github.com/ga4gh-schemablocks/playground for such cases?!

[2021-02-23 20:47] jfuerth commented on #96
Sure, sounds like a good plan. I don't feel that I know enough about blood groups to propose a serious definition for Blood Group, but I'm happy to put what we've sketched up into the playground!

Is a PR with a BloodGroup.yaml file at https://github.com/ga4gh-schemablocks/playground/tree/master/schemas all that's needed?

[2021-02-23 20:58] jfuerth commented on #97
Great point, thank you. I've pushed a change in PR #101.

[2021-02-23 21:05] mbaudis commented on #96
In principle, yes. And then it has to be processed - in a local version containing the relevant sb repos - see https://github.com/ga4gh-schemablocks/tools/blob/master/README.md

There is some documentation at [sb](https://schemablocks.org/about/repositories.html); but cave - this is the original setup and

* may be tooled more elegantly (well, should)
* may be broken :-?

I'm happy to help if you

[2021-02-23 21:12] #97 closed, assigned to nobody

[2021-02-23 21:37] mcupak opened #103 "Specification link in the docs is incorrect"
Points to a fork and says "specifications".

[2021-02-23 23:04] cmungall commented on #99
Unfortunately I think the use of "RESTful" to describe any web API is commonplace, regardless of whether it follow's Fielding's definition or not. I do think it would be useful to clarify the use of the term, whether the API is intended as "RPC-style" (i.e OpenAPI) vis "true" REST/HATEOAS.

I do note that the API has some HATEOAS-like elements:

https://github.com/ga4gh-discovery/ga4gh-search/blob

[2021-02-23 23:06] cmungall opened #104 "Use CURIEs in spec docs"
The spec mentions CURIEs, but includes examples like this:

https://github.com/ga4gh-discovery/data-connect/blob/develop/SPEC.md#search-example

[code]

I would recommend using the UBERON CURIE, i.e. `UBERON:0000464` (and having a separate prefixmap that points to the OBO PURL)

Thanks,
Chris (Uberon developer)

[2021-02-23 23:07] jfuerth commented on #98
Thanks for these questions, and thanks for helping us understand your use case!

First I should ask, have you considered [htsget](http://samtools.github.io/hts-specs/htsget.html)? It might be a closer match for your requirements.

Either way, you've posed some interesting questions about how much filtering, caching, and optimization can be shoehorned into the static Tables side of the Search API.

[2021-02-23 23:38] jfuerth commented on #99
I agree, the current spec does not meet all of the constraints of REST. As @cmungall says, it's a classic case of "JSON over HTTP" getting called REST when it isn't.

In very early drafts, table info and table data were links (relative or absolute) rather than IDs that the client needs to know what to do with. We were asked to change this to the OpenAPI style of specifying fixed URL patterns early

[2021-02-23 23:42] jfuerth commented on #96
Okay, thanks! This is on my to-do list now.

[2021-02-24 10:21] ifokkema commented on #99
Thanks for your replies!

Totally agree, I myself have been calling my APIs RESTful for years when I ran into Fielding's rants on the subject, simply not knowing the full depth of the definition before.

I noticed, indeed! Very useful! It is using different terms compared to the standard links element with `rel` and `href` attributes, but to be honest I'm not even sure if those exact terms are a r

[2021-02-24 12:42] ifokkema commented on #98
Thanks a lot for the detailed response!

Thanks for the suggestion! Unfortunately, it doesn't match because it's VCF-based while LOVD is HGVS based, and I have more complex data objects with classifications, effects on RNA & protein, references, and phenotype information to share.

I saw that in the docs indeed when I was wondering about the /table**s** vs /table/... URLs, I think it's quite brill

[2021-03-03 17:46] ianfore opened #105 "Consider a specific schema field for unit"
**Background**
In Search discussion on 2 March the following scope was discussed - [see document](https://docs.google.com/document/d/1O6ZhZgiJUdywCk0YGnWvZECnyiHC1krINXRYT38p1yc/edit)
What is the scope of Search?
1. agree on how we search for things with a given data model
2. agree on how we describe data models
3. agree on the data models themselves

The conclusion was that 1 and 2 are in scope.

[2021-03-05 22:24] jfuerth opened #107 "Set out rules for cache-friendly conditional requests"
This issue arose out of the discussion in #98.

The Search spec should reference the HTTP specification to say that servers MAY implement conditional HTTP requests using the standard (`eTag`/`If-Match` and `Date`/`If-Modified-Since`) headers to help clients take advantage of the built-in caching behaviour of HTTP.

[2021-03-05 22:40] jfuerth opened #108 "Set rules for gzip content encoding that's friendly to tables-in-a-bucket"
This issue was raised in a discussion on #98.

When data is stored as (potentially paginated) Search Tables, not only can the JSON files be gzip compressed at rest, but they can be served as-is with a `content-encoding: gzip` header. This adds no burden to the web server, and minimal burden to the client receiving the data.

The vast majority of real-world HTTP clients understand `content-encoding

[2021-03-05 23:00] jfuerth opened #109 "Specify an optional page index to help clients get data more efficiently"
This issue was raised during discussion on #98.

The goals of this **optional** "page index" would be:

1. tell consumers what partitions exist in the data, so they can skip partitions they don't care about
2. tell consumers which attributes the data is already sorted by
3. allow consumers to jump directly to the pages of interest
4. allow consumers to pull data in parallel (the strict singly-link

[2021-03-05 23:01] jfuerth commented on #98
Thanks for your feedback. I've split out the new feature requests we've generated here. I look forward to continuing the discussion on those issues. Please open more if I have missed something!

[2021-03-05 23:01] #98 closed, assigned to nobody

[2021-03-10 12:24] ifokkema commented on #98
Excellent, thank you!

[2021-03-10 12:37] ifokkema commented on #107
I think this is a great suggestion. I suppose the idea is that we can hack ETags here and say, e.g.:

Request:
[code]

Reply:
[code]

[2021-03-10 12:38] ifokkema commented on #108
Sounds great to me!

[2021-03-10 13:01] ifokkema commented on #109
This looks great! It'll allow me to indicate how to skip to other chromosomes so that clients don't need to paginate through the entire data. Three suggestions and one question:
- Indicate that data producers may provide additional pages not represented in the `index` (e.g. my `index` will contain various chromosomes, but all chromosomes can still be paginated further)
- Related: make `partitions`

[2021-04-08 01:35] mcupak opened #111 "Clarify scope and improve summary"
As requested by the Steering Committee, we should refactor the README to clarify scope of the API. This is a good opportunity to improve the executive summary as well.

In scope:
Agree on how we search with a given data model
Agree on how we describe data models

Not in scope:
Agree on data models themselves

Context: https://docs.google.com/document/d/1xIHFWRisQJ27f5Cc4l0djEDx87-f-Oid3356AP74-0k/

[2021-04-08 01:37] mcupak opened #112 "Rebrand GA4GH Search -> Data Connect"
Pending Steering Committee approval.

More info: https://docs.google.com/document/d/1xIHFWRisQJ27f5Cc4l0djEDx87-f-Oid3356AP74-0k/edit?ts=606dc807#

[2021-04-08 01:39] mcupak opened #113 "Add support for additional query languages"
Promote extensible, evolving framework; add support for new query languages—including GraphQL.

More info: https://docs.google.com/document/d/1xIHFWRisQJ27f5Cc4l0djEDx87-f-Oid3356AP74-0k/edit?ts=606dc807#

[2021-04-08 01:44] mcupak commented on #30
Let's revive this and also clearly demonstrate auth(z) via Passports/AAI.

More info: https://docs.google.com/document/d/1xIHFWRisQJ27f5Cc4l0djEDx87-f-Oid3356AP74-0k/edit?ts=606dc807#

[2021-04-08 01:50] mcupak opened #114 "Align with SchemaBlocks"
Umbrella issue to capture the improvement of our alignment with SchemaBlocks, as clarified throughout 1.0.0 approval process. Let's split this into smaller issues as needed.

Data Models
- Who is the custodian of GA4GH data models?
  - Collaborate with SchemaBlocks within TASC

Schemablocks
- How should process around building SchemaBlocks work?
  - TASC under CSO’s leadership to create process
-

[2021-04-11 20:05] #99 closed, assigned to nobody

[2021-04-11 20:11] #85 closed, assigned to gewenyu99

[2021-04-11 20:11] #91 closed, assigned to gewenyu99

[2021-04-11 20:45] mcupak opened #115 "Build currently broken"
Travis build is currently failing on the `make build_prod` docs build step.

[2021-04-11 21:46] #115 closed, assigned to mcupak

[2021-04-11 22:37] #90 closed, assigned to gewenyu99

[2021-04-12 00:37] mcupak commented on #112
We now have the go-ahead to rebrand.

Steps needed:
- [x] replace the term Search everywhere in docs
- [x] rename the repo url
- [x] rename urls in docs

[2021-04-13 15:38] mcupak commented on #112
Content changes are now in `develop`. While GitHub sets up the redirect for the repo name change, we have links to specific sections in GitHub pages shared in many places outside of this repo - let's wait for after the Steering Committee call today to change those, just to be sure.

[2021-04-13 15:41] #111 closed, assigned to mcupak

[2021-04-13 15:41] #103 closed, assigned to mcupak

[2021-04-13 15:41] mcupak commented on #89
Fixed.

[2021-04-13 15:41] #89 closed, assigned to mcupak

[2021-04-13 18:19] #96 closed, assigned to nobody

[2021-04-14 15:54] #58 closed, assigned to nobody

[2021-04-14 15:54] #59 closed, assigned to nobody

[2021-04-14 15:56] mcupak commented on #82
@gewenyu99 Is this still an issue?

[2021-04-14 15:56] #94 closed, assigned to nobody

[2021-04-16 01:51] gewenyu99 commented on #82
@mcupak No, I'll close this. I fixed this already when I fixed the make file. Submodules will point only to a commit hash, so this isn't an issue anyway.

[2021-04-16 01:51] #82 closed, assigned to gewenyu99

[2021-04-20 16:48] #112 closed, assigned to mcupak

[2021-04-20 16:48] #78 closed, assigned to nobody

[2021-04-21 14:19] mcupak opened #126 "Support latest JSON Schema and OAS"
OAS 3.1 [was released](https://github.com/OAI/OpenAPI-Specification/releases/tag/3.1.0) in February. Amongst other things, it supports [JSON Schema 2020-12 draft](https://tools.ietf.org/html/draft-bhutton-json-schema-00). Let's see if we can support this as well.

[2021-04-28 14:50] mcupak opened #127 "Rename Search -> Data Connect in open implementations"
Rebrand open-source implementations we control to Data Connect.

[2021-04-28 15:55] mcupak opened #128 "Clean up the list of supported SQL functions"
As discussed on the call today and in #124, we want to clean up the list of supported functions:

- [ ] Clarify all functions are optional.
- [ ] Make it clear which functions SHOULD be implemented vs. which are more niche.
- [ ] Fix broken formatting.
- [ ] Clarify what the `*` means.

[2021-04-28 15:57] mcupak commented on #128
Maybe let's add a recommendation to the spec that if you're not proxying a SQL backend or for a different reason don't implement all the functions, you should document which ones you do implement for your implementation.

[2021-05-26 15:29] mcupak opened #131 "Prepare SchemaBlocks showcase"
Part of #114.

[2021-06-09 15:42] mcupak opened #132 "Consolidate docs"

[2021-06-09 15:43] #86 closed, assigned to nobody

[2021-06-09 15:43] #87 closed, assigned to nobody

[2021-06-09 15:48] mcupak commented on #73
Discussed on the call and decided this is premature at this point.

[2021-06-09 15:48] mcupak opened #133 "Describe table-level access"

[2021-06-09 15:50] mcupak commented on #61
TASC is working on this, let's hold off until it's resolved there.

[2021-06-09 15:57] mcupak commented on #55
DRS ID Schemablock/column type.

[2021-06-09 15:59] mcupak commented on #30
Let's wait for the resolution of Passport/DRS integration as a starting point.

[2021-06-09 19:28] kemp-verily opened #134 "Revisit regular expression functions"
As noted by @jfuerth , these functions are very useful for "just in time" harmonization.

We may want to look at:
* adding some polyfill style UDFs to pave over differences
* listing them, with suggestions about known differences

[2021-06-09 22:09] jfuerth commented on #134
Here is an example of a UDF in MySQL that polyfills `json_extract_scalar` (not relevant to regex, but illustrates the concept):

[code]

Then:

[code]

[2021-07-09 13:02] ifokkema commented on #107
While implementing this in LOVD3 (https://github.com/LOVDnl/LOVD3/issues/518), I realized:

This should be **`Last-Modified`** / `If-Modified-Since`.

[2021-08-04 15:27] #71 closed, assigned to mcupak

[2022-09-16 18:11] gewenyu99 commented on #93
Hi all, Hi @mcupak. Hope y'all are doing great!

I was wondering if this can be closed

It's a little stale :P

[2022-09-16 18:23] mcupak commented on #93
Good call @gewenyu99, thanks!

[2022-09-16 18:23] #93 closed, assigned to gewenyu99

[2022-09-23 14:06] gewenyu99 commented on #95
Stale :) And I believe we achieved this already!

[2022-09-23 14:06] #95 closed, assigned to nobody